/* 
Custom stylesheet
*/
html {
	font-family: Raleway, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: rgba(36,76,140,0.80);
}

p {
	font-family: Lato, sans-serif;
}

/* CENTER NAVBAR */
.navbar-fixed.center ul {
	text-align: center;	
}

.navbar-fixed.center ul li {
	display: inline;
	float: none;
}

.navbar-fixed.center ul li a {
	display: inline-block;
	width: 10%;	
}



/* ROW|SECTION STYLING */
.row:nth-child(even) {background:##f5f5f5;}
.row:nth-child(odd) {background: #fff;}

.container {
	min-width: 100%;
}

.row-section {
	margin: 0 auto;
	width: 70%;
}

.section-header {
	text-align: center;
}

.slider {
	margin-top: -5em;
}

.nav-color {
	background-color: rgba(255,255,255,0.1) !important;
}

.footer.page-footer {
	background-color: rgba(16,54,115,0.95);
}